.BackGroundPokemon {
    background: rgba(136, 141, 150, 0.753);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.pokemon-modal-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 3rem 0.5rem;
  }